Cleaned_Data/UMS_Stars_cleaned.csv filter=lfs diff=lfs merge=lfs -text
Cleaned_Data/Giant_Stars_cleaned.csv filter=lfs diff=lfs merge=lfs -text
Data/UMS_EDR3_P21_Vzprime_EDR3workshop.csv filter=lfs diff=lfs merge=lfs -text
